.App {
  text-align: center;
}

.btn{
  margin:2% 40%;
  padding:1.5%;
  background-color: rgb(89, 185, 86);
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.box-container{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(235, 234, 234);
  border-radius: 15px;
  box-shadow: 4px 4px 8px 1px rgb(149, 148, 148);
  margin: 1% 15%;
  padding: 2% 6%;
}

.image{
  border: 7px solid  rgb(240, 236, 236);
}
.navbar{
  display: flex;
  align-self: center;
  justify-content: space-between;
  background-color: rgb(34, 34, 80);
  font-size: 1.2rem;
  padding: 1%;
  margin-bottom: 3%;
  color:white;
}

a{
 color:white;
  text-decoration: none;
}
a:hover{
  color: red;
}

